<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img
      [src]="logoImagePath"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    NTC-10
  </a>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >v{{ appVersion }}</a
        >
      </li>

      <li class="nav-item" ngbDropdown>
        <a
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown2"
          role="button"
        >
          Static right
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown2"
          class="dropdown-menu dropdown-menu-right"
        >
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
            >Action</a
          >
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
            >Another action</a
          >
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
            >Something else here</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
