<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-sm btn-secondary" (click)="generatePdf()"><fa-icon [icon]="faFilePdf"></fa-icon> Download as Pdf</button>
</div>

<app-card>
  Approval Status: <span>{{ approveStatus }}</span></app-card
>

<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <div class="p-3" [formGroup]="form">
        <div class="form-group row">
          <label for="staticEmail" class="col-2 col-form-label">Date Inspected</label>
          <div class="col-10">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="mmm-dd-yyyy"
                name="dp"
                formControlName="dateInspected"
                ngbDatepicker
                readonly
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="form-group row">
          <label for="name-of-station" class="col-sm-2 col-form-label">Client</label>
          <div class="input-group col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="Client name"
              aria-label="Client name"
              [value]="clientName"
              aria-describedby="button-addon2"
              readonly
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" (click)="open()">Select</button>
            </div>
          </div>
        </div>

        <br />

        <div class="form-group row">
          <label for="permit-number" class="col-sm-2 col-form-label">Permit Number</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="permit-number" formControlName="permitNumber" />
          </div>
        </div>

        <div class="form-group row">
          <label for="permit-expiry-date" class="col-2 col-form-label">Permit Expiry Date</label>
          <div class="col-10">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="mmm-dd-yyyy"
                name="dp"
                formControlName="permitExpiryDate"
                ngbDatepicker
                readonly
                #dd="ngbDatepicker"
                id="permit-expiry-date"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <div class="p-3" [formGroup]="form">
        <div class="mb-3">
          <div class="d-flex justify-content-between mb-2">
            <div class="h5">List of Stocks of Spares and Accessories</div>
            <div>
              <button class="btn btn-sm btn-primary" (click)="addStockSpareAndAccessory()">Add</button>
            </div>
          </div>

          <div *ngFor="let item of listOfStocksOfSparesAndAccessories.controls; let i = index" class="border p-2 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'particular' + i">Particular</label>
                  <input
                    type="text"
                    [formControl]="item.get('particular')"
                    class="form-control"
                    [id]="'particular' + i"
                    placeholder="Particular"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'no-of-units' + i">No. Of Units</label>
                  <input
                    type="number"
                    [formControl]="item.get('numberOfUnits')"
                    class="form-control"
                    [id]="'no-of-units' + i"
                    placeholder="No. Of Units"
                  />
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!listOfStocksOfSparesAndAccessories.controls.length" class="border p-3 text-center">
            No Stock of Spares and Accessories
          </div>
        </div>

        <div class="mb-3">
          <div class="d-flex justify-content-between mb-2">
            <div class="h5">List of Stocks of Mobile Phone</div>
            <div>
              <button class="btn btn-sm btn-primary" (click)="addStockMobilePhone()">Add</button>
            </div>
          </div>

          <div *ngFor="let item of listOfStocksOfMobilePhone.controls; let i = index" class="border p-2 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'model' + i">Market/Type/Model</label>
                  <input
                    type="text"
                    [formControl]="item.get('model')"
                    class="form-control"
                    [id]="'model' + i"
                    placeholder="Market/Type/Model"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'imei' + i">IMEI No.</label>
                  <input type="text" [formControl]="item.get('imeiNumber')" class="form-control" [id]="'imei' + i" placeholder="IMEI No." />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'source' + i">Source</label>
                  <input type="text" [formControl]="item.get('source')" class="form-control" [id]="'source' + i" placeholder="Source" />
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!listOfStocksOfMobilePhone.controls.length" class="border p-3 text-center">No Mobile Phone Stocks</div>
        </div>

        <div class="mb-3">
          <div class="d-flex justify-content-between mb-2">
            <div class="h5">List of Stocks of Subscriber Identification Module(SIM)</div>
            <div>
              <button class="btn btn-sm btn-primary" (click)="addStockSIM()">Add</button>
            </div>
          </div>

          <div *ngFor="let item of listOfStocksOfSubscriberIdentificationModule.controls; let i = index" class="border p-2 mb-2">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label [for]="'sim-' + i">SIM Number</label>
                  <input
                    type="text"
                    [formControl]="item.get('simNumber')"
                    class="form-control"
                    [id]="'sim-' + i"
                    placeholder="SIM Number"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label [for]="'mobile-phone-company' + i">Mobile Phone Operator/Company</label>
                  <input
                    type="text"
                    [formControl]="item.get('mobilePhoneCompany')"
                    class="form-control"
                    [id]="'mobile-phone-company' + i"
                    placeholder="Mobile Phone Operator"
                  />
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!listOfStocksOfSubscriberIdentificationModule.controls.length" class="border p-3 text-center">No SIMs</div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <div class="p-3" [formGroup]="form">
        <div formGroupName="sundryOfInformation">
          <div class="form-group">
            <label for="sundry-one" class="form-label"
              >1.) Is a signboard indicating registered name, type of services, business address, and the Permit Number conspicously posted
              at the entrance of its premises?</label
            >
            <div>
              <input type="text" class="form-control" id="sundry-one" formControlName="one" />
            </div>
          </div>
          <div class="form-group">
            <label for="sundry-two" class="form-label"
              >2.) Are the stocks of spares and accessories sufficient enough to cover the warranty of mobile phones?</label
            >
            <div>
              <input type="text" class="form-control" id="sundry-two" formControlName="two" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="remarks">Remarks/Deficiency(ies)/Discrepancy(ies)</label>
          <textarea autosize class="form-control" id="remarks" formControlName="remarksDeficienciesDiscrepanciesNoted" rows="3"></textarea>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Four</a>
    <ng-template ngbNavContent>
      <div class="p-3" [formGroup]="form">
        <div class="form-group row">
          <label for="inspector" class="col-sm-2 col-form-label">Inspector</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inspector" formControlName="inspectedBy" />
          </div>
        </div>

        <br />

        <div formGroupName="ownerInfo">
          <div class="form-group row">
            <label for="owner-name" class="col-sm-2 col-form-label">Owner/Representative Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="owner-name" formControlName="name" />
            </div>
          </div>

          <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Position/Designation</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="position" formControlName="position" />
            </div>
          </div>
        </div>

        <br />

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="recommendation">Recommendation/s</label>
          <div class="col-sm-8">
            <textarea autosize class="form-control" id="recommendation" formControlName="recommendations" rows="3"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="noted-by" class="col-sm-2 col-form-label">Noted By</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="noted-by" formControlName="notedBy" />
          </div>
        </div>

        <div class="form-group row">
          <label for="working-hours" class="col-sm-2 col-form-label">Approved?</label>
          <div class="col-sm-8">
            <div>{{ isApproved }}</div>
          </div>
        </div>

        <div class="form-group row">
          <label for="approver" class="col-sm-2 col-form-label">Regional Director</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="approver" formControlName="regionalDirector" />
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="bg-white border rounded-bottom border-top-0 pt-3"></div>
