<app-navbar></app-navbar>

<app-layout>
  <div class="mb-2">
    <button
      class="btn btn-sm btn-primary mr-1"
      [routerLink]="['radio-transceiver']"
    >
      Radio Transceiver
    </button>

    <button
      class="btn btn-sm btn-primary mr-1"
      [routerLink]="['mobile-phone-dealer']"
    >
      Mobile Phone Dealer
    </button>

    <button class="btn btn-sm btn-primary" [routerLink]="['service-center']">
      Service Center
    </button>
  </div>

  <router-outlet></router-outlet>
</app-layout>
