<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="pt-custom">
    <div class="row" *ngIf="isAuthenticate">
      <div class="font-weight-bold col-10 d-flex justify-content-end">
        <span
          >Add new <a class="text-muted cursor" [routerLink]="['master-list', 'clients']"><u>respondent</u></a></span
        >
      </div>
    </div>

    <div class="row">
      <div *ngIf="isAuthenticate" class="col-2 col-sm-2 col-md-2 col-lg-3 col-xl-2 offset-xl-2 mt-1">
        <app-side-navbar></app-side-navbar>
      </div>
      <div
        class="mt-1 col-12 col-sm-12 col-md-12"
        [ngClass]="{
          'col-lg-9 col-xl-6': isAuthenticate,
          'offset-lg-3 offset-lg-4 col-lg-4 col-xl-4': !isAuthenticate
        }"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
