<app-navbar></app-navbar>

<app-layout>
  <div class="mb-2">
    <button class="btn btn-sm btn-primary mr-1" [routerLink]="['radio-transceiver']">Radio Transceiver</button>

    <button class="btn btn-sm btn-primary mr-1" [routerLink]="['mobile-phone-dealer']">Mobile Phone Dealer</button>

    <button class="btn btn-sm btn-primary" [routerLink]="['service-center']">Service Center</button>

    <button class="btn btn-sm btn-primary" [routerLink]="['radio-dealer']">Radio Dealer</button>
  </div>

  <div class="mb-2">
    <!-- <button class="btn btn-sm btn-primary mr-1" [routerLink]="['master-list', 'stations']">Stations</button>

    <button class="btn btn-sm btn-primary mr-1" [routerLink]="['master-list', 'dealers']">Dealers</button>

    <button class="btn btn-sm btn-primary mr-1" [routerLink]="['master-list', 'service-centers']">Service Centers</button> -->

    <button class="btn btn-sm btn-primary mr-1" [routerLink]="['master-list', 'clients']">Clients</button>
  </div>

  <router-outlet></router-outlet>
</app-layout>
