<div [formGroup]="form">
  <div class="form-group row">
    <label for="name-of-service-center" class="col-sm-2 col-form-label">Name of Service Center</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name-of-service-center" formControlName="nameOfServiceCenter" />
    </div>
  </div>

  <div class="form-group row">
    <label for="business-address" class="col-sm-2 col-form-label">Business Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="business-address" formControlName="businessAddress" />
    </div>
  </div>

  <div class="form-group row">
    <label for="cellphoneNumber" class="col-sm-2 col-form-label">Telephone/Cellphone No.</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cellphoneNumber" formControlName="cellphoneNumber" />
    </div>
  </div>

  <br />

  <div class="form-group row">
    <label for="fax-number" class="col-sm-2 col-form-label">Fax Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="fax-number" formControlName="faxNumber" />
    </div>
  </div>

  <div class="form-group row">
    <label for="exact-location" class="col-sm-2 col-form-label">Exact Location of Service Center</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="exact-location" formControlName="exactLocationOfServiceCenter" />
    </div>
  </div>

  <div class="row" formGroupName="mpscInfo">
    <div class="col-6">
      <div class="form-group row">
        <label for="permit-number" class="col-sm-2 col-form-label">MPSC Permit No.</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="permit-number" formControlName="permitNumber" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row">
        <label for="expiry-date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="expiry-date" formControlName="expiryDate" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="secDtiRegistrationNumber" class="col-sm-2 col-form-label">SEC/DTI Registration No.</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="secDtiRegistrationNumber" formControlName="secDtiRegistrationNumber" />
    </div>
  </div>

  <div class="form-group row">
    <label for="businessMayorPermitNumbern" class="col-sm-2 col-form-label">Business/Mayor's permit No.</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="businessMayorPermitNumber" formControlName="businessMayorPermitNumber" />
    </div>
  </div>
</div>
