<div class="d-flex justify-content-end mb-3">
  <button class="btn btm-sm btn-primary" (click)="submit()">Submit</button>
</div>

<app-card>
  <div class="p-3" [formGroup]="form">
    <div class="form-group row">
      <label for="staticEmail" class="col-2 col-form-label">Date</label>
      <div class="col-10">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="mmm-dd-yyyy"
            name="dp"
            formControlName="date"
            ngbDatepicker
            readonly
            #d="ngbDatepicker"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="form-group row">
      <label for="respondent" class="col-sm-2 col-form-label">Complainant Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="respondent" formControlName="complainantName" />
      </div>
    </div>

    <br />

    <div class="form-group row">
      <label for="name-of-station" class="col-sm-2 col-form-label">Client</label>
      <div class="input-group col-sm-10">
        <input
          type="text"
          class="form-control"
          placeholder="Client name"
          aria-label="Client name"
          [value]="clientName"
          aria-describedby="button-addon2"
          readonly
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" (click)="open()">Select</button>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="respondent" class="col-sm-2 col-form-label">Respondent Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="respondent" formControlName="respondentName" />
      </div>
    </div>

    <div class="form-group row">
      <label for="respondent" class="col-sm-2 col-form-label">Docket Number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="respondent" formControlName="docketNumberDescription" />
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-2 col-form-label">Date of Inspection</label>
      <div class="col-10">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="mmm-dd-yyyy"
            name="dp"
            formControlName="dateOfInspection"
            ngbDatepicker
            readonly
            #ddd="ngbDatepicker"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="ddd.toggle()" type="button">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="location" class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="location" formControlName="location" />
      </div>
    </div>

    <div class="form-group row">
      <label for="reason" class="col-sm-2 col-form-label">Reason</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="reason" formControlName="reason" />
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between mb-2">
        <div class="h5">Transmitter(s)/Transceiver(s) Used</div>
        <div>
          <button class="btn btn-sm btn-primary" (click)="addTransmitterInput()">Add</button>
        </div>
      </div>

      <div *ngFor="let item of transmitters.controls; let i = index" class="d-flex border rounded p-2 mb-2 bg-light">
        <div class="flex-grow-1 pr-3">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label [for]="'transmitter' + i">Transmitter</label>
                <input
                  type="text"
                  [formControl]="item.get('transmitter')"
                  class="form-control"
                  [id]="'transmitter' + i"
                  placeholder="Transmitter"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label [for]="'serial-number-' + i">Serial Number</label>
                <input
                  type="text"
                  [formControl]="item.get('serialNumber')"
                  class="form-control"
                  [id]="'serial-number-' + i"
                  placeholder="Serial Number"
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-sm btn-danger font-weight-bold" (click)="removeTransmitterInput(i)">x</button>
        </div>
      </div>

      <div *ngIf="!transmitters.controls.length" class="border p-3 text-center">No Transmitters</div>
    </div>

    <div class="form-group row" formGroupName="violationInfo">
      <label for="staticEmail" class="col-2 col-form-label">Violations</label>

      <div class="col-10">
        <div class="custom-control custom-checkbox" *ngFor="let violation of violations; let i = index">
          <input type="checkbox" class="custom-control-input" [id]="'violation' + i" [formControlName]="violation.formControlName" />
          <label class="custom-control-label" [for]="'violation' + i">{{ violation.name }}</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-2 col-form-label">Date Hearing</label>
      <div class="col-10">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="mmm-dd-yyyy"
            name="dp"
            formControlName="dateOfHearing"
            ngbDatepicker
            readonly
            #dd="ngbDatepicker"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div>Time of Hearing</div>
      <ngb-timepicker formControlName="timeOfHearing" [meridian]="meridian"></ngb-timepicker>
    </div>

    <div class="form-group row">
      <label for="working-hours" class="col-sm-2 col-form-label">Is Done?</label>
      <div class="col-sm-8">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="approve-yes" name="isDone" class="custom-control-input" formControlName="isDone" [value]="true" />
          <label class="custom-control-label" for="approve-yes">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="approve-no" name="isDone" formControlName="isDone" class="custom-control-input" [value]="false" />
          <label class="custom-control-label" for="approve-no">No</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="regionalDirector" class="col-sm-3 col-form-label">Regional Director</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="regionalDirector" [value]="regDirectorInfo.name" readonly />
      </div>
    </div>
  </div>
</app-card>
