<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-4 d-none d-xl-block d-lg-block d-xl-none position-fixed">
    <app-side-navbar-item
      [label]="'Radio Transceiver'"
      [routerLink]="['/radio-transceiver']"
      routerLinkActive
      *ngIf="isAllowedInspection()"
      #rla1="routerLinkActive"
      [currentlySelected]="rla1.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Mobile Phone Dealer'"
      [routerLink]="['/mobile-phone-dealer']"
      routerLinkActive
      *ngIf="isAllowedInspection()"
      #rla2="routerLinkActive"
      [currentlySelected]="rla2.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Service Center'"
      [routerLink]="['/service-center']"
      routerLinkActive
      *ngIf="isAllowedInspection()"
      #rla3="routerLinkActive"
      [currentlySelected]="rla3.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Radio Dealer'"
      [routerLink]="['/radio-dealer']"
      routerLinkActive
      *ngIf="isAllowedInspection()"
      #rla4="routerLinkActive"
      [currentlySelected]="rla4.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Deficiency Notice'"
      [routerLink]="['/deficiency-notice']"
      routerLinkActive
      *ngIf="isAllowedReports()"
      #rla5="routerLinkActive"
      [currentlySelected]="rla5.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Complaint'"
      [routerLink]="['/complaint']"
      routerLinkActive
      *ngIf="isAllowedReports()"
      #rla6="routerLinkActive"
      [currentlySelected]="rla6.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Accomplishment Report'"
      [routerLink]="['/accomplishment-report']"
      routerLinkActive
      *ngIf="isAllowedAccomplishment()"
      #rla7="routerLinkActive"
      [currentlySelected]="rla7.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'System Setting'"
      [routerLink]="['/system-setting']"
      routerLinkActive
      *ngIf="isAllowedSystemSettings()"
      #rla8="routerLinkActive"
      [currentlySelected]="rla8.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Users'"
      [routerLink]="['/system', 'users']"
      routerLinkActive
      *ngIf="isAllowedSystemSettings()"
      #rla9="routerLinkActive"
      [currentlySelected]="rla9.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item
      [label]="'Account Settings'"
      [routerLink]="['/account-settings']"
      routerLinkActive
      #rla10="routerLinkActive"
      [currentlySelected]="rla10.isActive"
    ></app-side-navbar-item>

    <app-side-navbar-item [label]="'Log Out'" (clicked)="logout()"></app-side-navbar-item>

    <div class="text-muted mt-2 ml-2">{{ appVersion() }}</div>
  </div>
</div>
