<div class="modal-header">
  <h4 class="modal-title">Remove entry</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-remove-message *ngIf="isRemoveEntry()"></app-remove-message>
  <app-station-edit *ngIf="isStationEdit()"></app-station-edit>
  <app-station-view *ngIf="isStationView()"></app-station-view>
  <app-service-center-edit *ngIf="isServiceCenterEdit()"></app-service-center-edit>
  <app-service-center-view *ngIf="isServiceCenterView()"></app-service-center-view>
  <app-dealer-edit *ngIf="isDealerEdit()"></app-dealer-edit>
  <app-dealer-view *ngIf="isDealerView()"></app-dealer-view>
  <app-client-edit *ngIf="isClientEdit()"></app-client-edit>
  <app-client-view *ngIf="isClientView()"></app-client-view>
  <app-client-search *ngIf="isClientSearch()"></app-client-search>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" *ngIf="isStationEdit()" (click)="saveStation()">Add</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="isServiceCenterEdit()" (click)="saveServiceCenter()">Add</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="isDealerEdit()" (click)="saveDealer()">Add</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="isClientEdit()" (click)="saveClient()">Add</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="isRemoveEntry()" (click)="removeEntry()">Remove</button>
</div>
