<button class="btn btn-sm btn-success" (click)="generatePdf()">Save as Pdf</button>

<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <div class="border p-2" [formGroup]="form">
        <div class="form-group row">
          <label for="staticEmail" class="col-2 col-form-label">Date</label>
          <div class="col-10">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="mmm-dd-yyyy"
                name="dp"
                formControlName="dateIssued"
                ngbDatepicker
                readonly
                #d="ngbDatepicker"
              />
            </div>
          </div>
        </div>

        <br />

        <div class="form-group row">
          <label for="name-of-station" class="col-sm-2 col-form-label">Client</label>
          <div class="input-group col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="Client name"
              aria-label="Client name"
              [value]="clientName"
              aria-describedby="button-addon2"
              readonly
            />
          </div>
        </div>

        <br />

        <div class="form-group row">
          <label for="class" class="col-sm-2 col-form-label">Class</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="class" formControlName="classType" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="nature-of-service" class="col-sm-2 col-form-label">Nature of Service</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nature-of-service" formControlName="natureOfService" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="working-hours" class="col-sm-2 col-form-label">Working Hours</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="working-hours" formControlName="workingHours" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="call-sign" class="col-sm-2 col-form-label">Call Sign</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="call-sign" formControlName="callSign" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="motor-no" class="col-sm-2 col-form-label">Motor No.</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="motor-no" formControlName="motorNumber" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="plate-no" class="col-sm-2 col-form-label">Plate No.</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="plate-no" formControlName="plateNumber" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="gross-tonnage" class="col-sm-2 col-form-label">Gross Tonnage</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="gross-tonnage" formControlName="grossTonnage" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="working-hours" class="col-sm-2 col-form-label">Type</label>
          <div class="col-sm-10">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="type-new" name="formType" class="custom-control-input" formControlName="formType" value="new" />
              <label class="custom-control-label" for="type-new">New</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="type-renewal"
                name="formType"
                formControlName="formType"
                class="custom-control-input"
                value="renewal"
              />
              <label class="custom-control-label" for="type-renewal">Renewal</label>
            </div>
          </div>
        </div>

        <br />

        <div class="row" formGroupName="ppInfo">
          <div class="col-6">
            <div class="form-group row">
              <label for="pp-no" class="col-sm-2 col-form-label">P/P No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="pp-no" formControlName="ppNumber" readonly />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="pp-date-issued" class="col-2 col-form-label">Date Issued</label>
              <div class="col-10">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="mmm-dd-yyyy"
                    name="pp-date-issued"
                    formControlName="dateIssued"
                    ngbDatepicker
                    readonly
                    id="pp-date-issued"
                    #dd="ngbDatepicker"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" formGroupName="cpInfo">
          <div class="col-6">
            <div class="form-group row">
              <label for="cp-no" class="col-sm-2 col-form-label">C.P. No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="cp-no" formControlName="cpNumber" readonly />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="cp-exp-date" class="col-2 col-form-label">Exp. Date</label>
              <div class="col-10">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="mmm-dd-yyyy"
                    name="cp-exp-date"
                    formControlName="expirationDate"
                    ngbDatepicker
                    readonly
                    id="cp-exp-date"
                    #ddd="ngbDatepicker"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" formGroupName="tpInfo">
          <div class="col-6">
            <div class="form-group row">
              <label for="tp-no" class="col-sm-2 col-form-label">T.P. No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="tp-no" formControlName="tpNumber" readonly />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="tp-exp-date" class="col-2 col-form-label">Exp. Date</label>
              <div class="col-10">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="mmm-dd-yyyy"
                    name="tp-exp-date"
                    formControlName="expirationDate"
                    ngbDatepicker
                    readonly
                    id="tp-exp-date"
                    #ddddd="ngbDatepicker"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" formGroupName="licInfo">
          <div class="col-6">
            <div class="form-group row">
              <label for="lic-no" class="col-sm-2 col-form-label">Lic. No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="lic-no" formControlName="licNumber" readonly />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="lic-exp-date" class="col-2 col-form-label">Exp. Date</label>
              <div class="col-10">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="mmm-dd-yyyy"
                    name="lic-exp-date"
                    formControlName="expirationDate"
                    ngbDatepicker
                    readonly
                    id="lic-exp-date"
                    #dddd="ngbDatepicker"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="points-of-communication" class="col-sm-2 col-form-label">Points of Communication</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="points-of-communication" formControlName="pointsOfCommunication" readonly />
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <div class="border p-2" [formGroup]="form">
        <div class="mb-3">
          <div class="d-flex justify-content-between mb-2">
            <div class="h5">Operators</div>
            <div>
              <!-- Insert HTML Element Here -->
            </div>
          </div>

          <div *ngFor="let operator of operators.controls; let i = index" class="border p-2 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'operator' + i">Operator</label>
                  <input
                    type="text"
                    [formControl]="operator.get('name')"
                    class="form-control"
                    [id]="'operator' + i"
                    placeholder="Operator"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'particular' + i">Particular of License</label>
                  <input
                    type="text"
                    [formControl]="operator.get('particularOfLicense')"
                    class="form-control"
                    [id]="'particular' + i"
                    placeholder="Particular of License"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'expirationDate' + i">Expiration Date</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="mmm-dd-yyyy"
                      name="dp"
                      [formControl]="operator.get('expirationDate')"
                      ngbDatepicker
                      readonly
                      #d="ngbDatepicker"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!operators.controls.length" class="border p-3 text-center">No Operators</div>
        </div>

        <div class="mb-3">
          <div class="d-flex justify-content-between mb-2">
            <div class="h5">Transmitter(s)/Transreceiver(s)</div>
            <div>
              <!-- Insert HTML Element Here -->
            </div>
          </div>

          <div *ngFor="let transreceiver of radioTransceivers.controls; let i = index" class="border p-2 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'model' + i">Make/Type/Model</label>
                  <input
                    type="text"
                    [formControl]="transreceiver.get('model')"
                    class="form-control"
                    [id]="'model' + i"
                    placeholder="Make/Type/Model"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'frequnecyControl' + i">Frequency Control</label>
                  <input
                    type="text"
                    [formControl]="transreceiver.get('freqControl')"
                    class="form-control"
                    [id]="'frequecyControl' + i"
                    placeholder="Frequency Control"
                    readonly
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'serialNumber' + i">Serial No.</label>
                  <input
                    type="text"
                    [formControl]="transreceiver.get('serialNumber')"
                    class="form-control"
                    [id]="'serialNumber' + i"
                    placeholder="Serial Number"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'freqRange' + i">Frequency Range</label>
                  <input
                    type="text"
                    [formControl]="transreceiver.get('freqRange')"
                    class="form-control"
                    [id]="'freqRange' + i"
                    placeholder="Frequency Range"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label [for]="'powerOutPut' + i">Power Output</label>
                  <input
                    type="text"
                    [formControl]="transreceiver.get('powerOutput')"
                    class="form-control"
                    [id]="'powerOutPut' + i"
                    placeholder="Power Output"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!radioTransceivers.controls.length" class="border p-3 text-center">No Transmitter(s)/Transreceiver(s)</div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <div class="border p-2" [formGroup]="form">
        <div class="form-group row" formGroupName="illegalConstructionInfo">
          <label for="illegal-construction" class="col-sm-2 col-form-label">Illegal Construction</label>
          <div class="col-sm- mt-2">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="constructionPermitless"
                formControlName="constructionsOfRadioStationsWithoutConstructionPermit"
              />
              <label class="custom-control-label" for="constructionPermitless"
                >Constructions of Radio Station License/Temporary Permit</label
              >
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="illegalTransfer" formControlName="illegalTransfer" />
              <label class="custom-control-label" for="illegalTransfer">Illegal Transfer</label>
            </div>
          </div>
        </div>

        <div class="form-group row" formGroupName="illegalOperationInfo">
          <label for="illegal-construction" class="col-sm-2 col-form-label">Illegal Operation</label>
          <div class="col-sm-10 mt-2">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="operationPermitless"
                formControlName="operationWithoutRadioStationLicensePermit"
              />
              <label class="custom-control-label" for="operationPermitless">Operation without Radio Station License/Temporary Permit</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="operation-without-license-radio-operator"
                formControlName="operationWithoutLicenseRadioOperator"
              />
              <label class="custom-control-label" for="operation-without-license-radio-operator"
                >Operation without license radio Operator</label
              >
            </div>

            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="operation-without-logbook"
                formControlName="operationWithoutLogbook"
              />
              <label class="custom-control-label" for="operation-without-logbook">Operation without logbook</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="operation-on-lower-sideband"
                formControlName="operationOnLowerSideband"
              />
              <label class="custom-control-label" for="operation-on-lower-sideband">Operation on Lower Sideband</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="operation-on-unauthorized-hours"
                formControlName="operationOnUnauthorizedHours"
              />
              <label class="custom-control-label" for="operation-on-unauthorized-hours">Operation on Unauthorized Hours</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="operating-unauthorized-frequency"
                formControlName="operatingOnUnauthorizedFrequency"
              />
              <label class="custom-control-label" for="operating-unauthorized-frequency">Operating on unauthorized frequency</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="off-frequency" formControlName="offFrequency" />
              <label class="custom-control-label" for="off-frequency">Off Frequency</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="still-on-old-frequency"
                formControlName="stillInTheOldFrequencyGrouping"
              />
              <label class="custom-control-label" for="still-on-old-frequency">Still in the old Frequency grouping</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="illegal-construction" class="col-sm-2 col-form-label">Illegal Possession</label>
          <div class="col-sm-10 mt-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="illegalPossession" formControlName="illegalPossession" />
              <label class="custom-control-label" for="illegalPossession"
                >Possession of Radio Transmitter/Transceiver without Permit to Purchase/Possess</label
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="others" class="col-sm-2 col-form-label">Others</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="others" formControlName="others" readonly />
          </div>
        </div>

        <div class="h5">Sundray Information About The Radio Station</div>
        <div formGroupName="sundrayInformationAboutRS">
          <div class="form-group row">
            <label for="radio-operator-logbook" class="col-sm-2 col-form-label">Call Sign</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="radio-operator-logbook" formControlName="isRadioOperatorEntryLogbooK" readonly />
            </div>
          </div>

          <div class="form-group row">
            <label for="unwanted-signals" class="col-sm-2 col-form-label">Is the station producing unwanted signals</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="unwanted-signals" formControlName="isStationProduceUnwantedSignals" readonly />
            </div>
          </div>

          <div class="form-group row">
            <label for="radio-equipment-operative" class="col-sm-2 col-form-label"
              >Is the radio equipment operative at the time of inspection</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="radio-equipment-operative"
                formControlName="isRadioEquipmentOperativeOnInspection"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Four</a>
    <ng-template ngbNavContent>
      <div class="border p-2" [formGroup]="form">
        <div class="form-group row">
          <label for="authorizedRepresentative" class="col-sm-2 col-form-label">Authorized Representative</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="authorizedRepresentative" formControlName="authorizedRepresentative" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="working-radioRegulationInspector" class="col-sm-2 col-form-label">Radio Regulation Inspector</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="working-radioRegulationInspector"
              formControlName="radioRegulationInspector"
              readonly
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="recommendations" class="col-sm-2 col-form-label">Recommendations</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="recommendations" formControlName="recommendations" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="notedBy" class="col-sm-2 col-form-label">Noted By</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="notedBy" formControlName="notedBy" readonly />
          </div>
        </div>

        <div class="form-group row">
          <label for="regionalDirector" class="col-sm-2 col-form-label">Regional Director</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="regionalDirector" formControlName="regionalDirector" readonly />
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
